<form>
        <div  class='note-width form-note-margin-left note-margin-left' id='note_container'  style='width: 90%;'>
            <div  style='z-index:-1;'>
                
                    <input id='note_title' name='note_title' class='note-width form-control m-2 ' style='position: relative; top: 20px;'  type='text' placeholder='Note title' />
                    <div id='note_text' name='note_text' style='display: inline-block; position: relative; top: 20px; width: 90%;' class='note-content form-control m-2 border border-success' placeholder='Text'  contentEditable='true'>
                        
                    </div>

            </div>
    </form>